section{
    width: 350px;
    height: 600px;
}

.red-banner {
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: red;
    color: white;
    text-indent: 20px;
}
h1{
    text-indent: 10px;
    width: 350px;
    height: 40px;
    border-bottom: 1px solid gray;
}
.sigin-form {
    width: 350px;
    height: 400px;
    display: flex;
    align-items: center;
    border: 1px solid gray;
}

.signin-title {
    display: flex;
    align-items: flex-start;
}